.faq {
  padding: var(--section-y) 0;
  &__container {
  }
  &__title {
    margin: 0 0 14rem;
    @media (min-width: $lg-mf) {
      font-size: var(--fs-3);
      line-height: 1.24390243902;
    }
    strong {
      white-space: nowrap;
    }
  }
  &__description {
    max-width: 620rem;
    margin: 0 0 80rem;
    font-size: var(--fs-10);
    line-height: $lineHeight4;
  }
  &__list {
    counter-reset: faqCounter;
    &-card {
      counter-increment: faqCounter;
      & + & {
        border-top: 1px solid $greyLightColor;
      }
    }
  }
}