.mobile-app {
  padding: var(--header-bottom-gap) 0 var(--section-y);
  position: relative;
  @media (min-width: $md-mf) {
    margin-top: var(--header-height);
  }
  @media (max-width: $md) {
    padding-top: 140rem;
    padding-bottom: var(--section-y);
  }
  &__container {
  }
  &__block {
    text-align: center;
    @media (min-width: $md-mf) {
      background: rgba($whiteColor, .1);
      padding: 60rem 8%;
      border-radius: $radiusSemi;
    }
    @media (max-width: $md) {
    }
  }
  &__title {
    margin: 0 0 18rem;
    font-weight: bold;
    font-size: var(--fs-21);
    line-height: 1.1;
    @media (max-width: $md) {
      margin-bottom: var(--title-y-md);
    }
  }
  &__text {
    margin-bottom: 60rem;
    font-weight: 500rem;
    font-size: var(--fs-17);
    line-height: 1.41;
    color: $greyMediumColor;
    @media (max-width: $md) {
      margin-bottom: 30rem;
      font-size: var(--fs-13);
    }
  }
  &__footer {
    text-align: center;
  }
  &__btn {
    width: 100%;
    @media (min-width: $md-mf) {
      width: auto;
      min-width: 438rem;
    }
  }
}