.services {
  padding: var(--section-y) 0;
  position: relative;
  @media (max-width: $md) {
  }
  &:before,
  &:after {
    @media (max-width: $md) {
      display: none;
    }
  }
  &__hero {
    &--1 {
      @media (max-width: $md) {
        width: 92rem;
        top: 262rem;
        right: -4rem;
      }
      img {
        transform: scaleX(-1);
      }
    }
  }
  &__container {
  }
  &__title {
    margin: 0 0 30rem;
    @media (max-width: $md) {
      margin-bottom: var(--title-y-md);
    }
    .word-accent {
    }
  }
  &__description {
    max-width: 1200rem;
    margin: 0 0 80rem;
    font-weight: 500;
    font-size: var(--fs-8);
    line-height: $lineHeight7;
    color: rgba($whiteColor, .8);
    @media (max-width: $md) {
      max-width: 100%;
      margin-bottom: 20rem;
      font-size: 16rem;
    }
  }
  &__list {
    li {
      &:nth-child(1),
      &:nth-child(2) {
        @media (max-width: $md) {
          margin-right: 80rem;
        }
      }
    }
  }
}