<section class="wow fadeIn appeal-choise" data-wow-delay=".2s">
  <div class="container container--size-md appeal-choise__container">
    <div class="appeal-choise__main">
      <h2 class="wow fadeIn appeal-choise__main-title" data-wow-delay=".2s">Individual paket</h2>
      <div class="appeal-choise__main-major">
        <div class="appeal-choise__main-content">
          <h3 class="appeal-choise__main-subtitle">Keling, muhokama qilamiz</h3>
          <div class="u-content appeal-choise__main-text">
            <p>Biz sizning ehtiyojlaringiz uchun individual yechimlarni taklif etamiz</p>
          </div>
        </div>
        <div class="appeal-choise__main-aside">
          <button type="button" data-modal="popup-form" class="btn btn--theme-accent-gradient btn--size-semi appeal-choise__main-btn">
            <span class="btn__inner">
              <span class="btn__title">Biz bilan bog'laning</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>