<footer class="@@el footer">
  <picture class="footer__bg">
    <!--<source
      srcset="images/footer-bg.webp"
      type="image/webp">-->
    <img
      src="images/footer-bg.jpg"
      alt=""
      width="1920"
      height="505">
  </picture>
  <div class="container container--size-md footer__container">
    <a href="/" class="logo footer__logo">
      <picture class="logo__img">
        <img src="images/brand-logo-white.svg" width="204" height="57" alt="Celion">
      </picture>
    </a>
    <div class="footer__nav-wrapper">
      <nav class="footer__nav" role="navigation">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Портфолио и кейсы</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Партнерская программа</a>
          </li>
          <li class="footer__nav-item">
            <a href="#" class="footer__nav-link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="sc-block footer__sc">
        <ul class="sc-block__list">
          <li class="sc-block__item">
            <a href="#" class="sc-block__link">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#sc-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="sc-block__item">
            <a href="#" class="sc-block__link">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#sc-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="sc-block__item">
            <a href="#" class="sc-block__link">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#sc-dribbble"></use>
              </svg>
            </a>
          </li>
          <li class="sc-block__item">
            <a href="#" class="sc-block__link">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#sc-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">Celion © 2025. All rights reserved.</p>
  </div>
</footer>