<form action="#" class="js-wow-counter u-form-project website-section__form">
  <p class="u-title fs-6 u-form-project__title">Обсудить проект</p>
  <input type="text" name="name" class="u-input u-input--size-md u-input--type-textarea u-input--theme-white u-form-project__input" placeholder="Ваше имя">
  <div class="js-input-select input-select u-form-project__input">
    <div class="input-select__aside">
      <button type="button" class="js-input-select-btn-toggle input-select__btn"></button>
      <div class="input-select__dropdown">
        <button type="button" class="js-input-select-btn-choose input-select__btn is-active">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#phone"></use>
          </svg>
        </button>
        <button type="button" class="js-input-select-btn-choose input-select__btn">
          <svg class="u-icon">
            <use xlink:href="images/icons/icons.svg#email"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="input-select__inputs">
      <input type="tel" name="phone" class="js-input-select-el js-phone-mask u-input u-input--size-md u-input--type-textarea u-input--theme-white input-select__input is-active" required placeholder="Номер Вашего телефона*">
      <input type="email" name="email" class="js-input-select-el u-input u-input--size-md u-input--type-textarea u-input--theme-white input-select__input" required placeholder="Ваш e-mail*">
    </div>
  </div>
  <button type="submit" class="btn btn--theme-accent-gradient btn--size-md u-form-project__btn">
    <span class="btn__inner">
      <span class="btn__title">Отправить</span>
    </span>
  </button>
  <p class="u-privacy u-form-project__privacy">Нажимая на кнопку «Отправить», Вы соглашаетесь с <a href="https://www.google.com/" target="_blank">политикой обработки персональных данных</a> и <a href="https://www.google.com/" target="_blank">получением информационных рассылок</a>.</p>
</form>