<header class="@@el header">
  <div class="container container--size-md header__container">
    <div class="header__inner">
      <a href="/" class="logo header__logo">
        <picture class="logo__img">
          <img src="images/brand-logo-white.svg" width="204" height="57" alt="Celion">
        </picture>
      </a>
      <button type="button" class="js-nav-toggle d-lg-block header__toggle">
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-open"></use>
        </svg>
        <svg class="u-icon">
          <use xlink:href="images/icons/icons.svg#menu-close"></use>
        </svg>
      </button>
    </div>
    <div class="header__dropdown">
      <nav class="u-nav header__nav" role="navigation">
        <ul class="u-nav__list">
          <li class="u-nav__item">
            <a href="#portfolio" class="js-anchor u-nav__link">Портфолио и кейсы</a>
          </li>
          <li class="u-nav__item">
            <button type="button" class="js-nav-submenu-toggle u-nav__btn-submenu">
              <svg class="u-icon">
                <use xlink:href="images/icons/icons.svg#arrow-down-1"></use>
              </svg>
            </button>
            <a href="services.html" class="u-nav__link">Услуги</a>
            <ul class="u-nav__dropdown">
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Submenu 1</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Submenu 2</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Submenu 3</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Submenu 4</a>
              </li>
              <li class="u-nav__dropdown-item">
                <a href="#" class="u-nav__dropdown-link">Submenu 5</a>
              </li>
            </ul>
          </li>
          <li class="u-nav__item">
            <a href="partners.html" class="u-nav__link">Партнерская программа</a>
          </li>
          <li class="u-nav__item">
            <a href="contacts.html" class="u-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="btn-group header__btn-group">
        <div class="btn-group__inner">
          <button type="button" data-modal="popup-thanks" class="btn btn--theme-white-transparent btn--size-sm">
            <span class="btn__inner">
              <span class="btn__icon btn__icon--dir-ltr">
                <svg class="u-icon">
                  <use xlink:href="images/icons/icons.svg#triangle-1"></use>
                </svg>
              </span>
              <span class="fw-500 btn__title">Презентация</span>
            </span>
          </button>
          <button type="button" data-modal="popup-form" class="btn btn--theme-accent-gradient btn--size-sm">
            <span class="btn__inner">
              <span class="btn__title">ОСТАВИТЬ ЗАЯВКУ</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>