/* Headings, Common BEM Blocks, and More... */

.logo {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  vertical-align: top;
  transition: $transition;
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      opacity: .8;
    }
  }
  &__img {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.btn-group {
  --btn-group-gap: 30rem;
  @media (max-width: $md) {
    --btn-group-gap: var(--gap-container);
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--btn-group-gap);
  }
  &__el {
  }
}

.btn {
  max-width: 100%;
  min-height: var(--btn-height);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: inherit;
  font-size: var(--btn-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  transition-property: background, background-size, color;
  position: relative;
  cursor: pointer;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-white-transparent {
      background: rgba($whiteColor, .1);
      color: $whiteColor;
      border-radius: $radiusMd;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .3);
        }
      }
      &:focus,
      &:active {
      }
    }
    &-accent-gradient {
      background: transparent;
      color: $whiteColor;
      border-radius: $radiusSm;
      &:hover {
        @media (min-width: $lg-mf) {
        }
        &:before {
          @media (min-width: $lg-mf) {
            background-size: 160% 100%;
          }
        }
      }
      &:focus,
      &:active {
      }
      &:before {
        background: $gradientAccent1;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        content: '';
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transition: $transition;
        z-index: -1;
      }
    }
    &-accent-gradient-2 {
      background: transparent;
      color: $whiteColor;
      border-radius: $radiusSm;
      &:hover {
        @media (min-width: $lg-mf) {
        }
        &:before {
          @media (min-width: $lg-mf) {
            background-size: 160% 100%;
          }
        }
      }
      &:focus,
      &:active {
      }
      &:before {
        background: $gradientAccent1;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        content: '';
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: $boxShadowWhite1;
        transition: $transition;
        z-index: -1;
      }
    }
  }
  &--size {
    &-sm {
      --btn-height: var(--ui-height-sm);
      --btn-padding-x: 16rem;
      --btn-padding-y: 8rem;
      --btn-font-size: var(--fs-13);
    }
    &-md {
      --btn-height: 80rem;
      --btn-padding-x: 58rem;
      --btn-padding-y: 20rem;
      --btn-font-size: var(--fs-9);
      border-radius: $radiusMd;
      @media (max-width: $md) {
        --btn-height: 48rem;
        --btn-padding-x: 22rem;
        --btn-padding-y: 8rem;
        --btn-font-size: 16rem;
        font-weight: 600;
        border-radius: 10rem;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
  }
  &__title {
  }
  &__icon {
    width: 24rem;
    height: 24rem;
    position: relative;
    &--dir {
      &-ltr {
        margin-right: 10rem;
      }
      &-rtl {
        margin-left: 10rem;
      }
    }
    .u-icon,
    img,
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.u-input {
  width: 100%;
  min-height: var(--input-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: inherit;
  font-size: var(--input-font-size);
  line-height: $lineHeightDefault;
  font-family: $fontFamily;
  text-align: left;
  text-transform: none;
  border: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $transition;
  transition-property: background, color, border-color;
  position: relative;
  z-index: 0;
  &:hover {
    text-decoration: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
  }
  &--theme {
    &-white-light {
      background: rgba($whiteColor, .1);
      color: $whiteColor;
      border-radius: $radiusMd;
      &:hover {
        @media (min-width: $lg-mf) {
          background: rgba($whiteColor, .18);
        }
      }
      &:focus,
      &:active {
        background: rgba($whiteColor, .25);
        &::placeholder {
          opacity: .3;
        }
      }
      &::placeholder {
        color: inherit;
        transition: $transition;
        opacity: 1;
      }
    }
  }
  &--size {
    &-md {
      --input-height: 80rem;
      --input-padding-x: 32rem;
      --input-padding-y: 20rem;
      --input-font-size: var(--fs-9);
      border-radius: $radiusSemi;
      @media (max-width: $md) {
        --input-height: 60rem;
        --input-padding-x: 20rem;
        --input-padding-y: 17rem;
        --input-font-size: var(--fs-13);
        border-radius: 16rem;
      }
    }
  }
  &--type {
    &-textarea {
      width: 100%;
      min-width: 100%;
      resize: none;
    }
  }
}

.shadow {
  &-y {
    position: relative;
    &:before,
    &:after {
      background: $gradientBlack1;
      width: 100%;
      height: 460rem;
      max-height: 49%;
      content: '';
      position: absolute;
      left: 0;
      pointer-events: none;
      z-index: -3;
      @media (max-width: $md) {
        height: 120rem;
      }
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
      transform: scaleY(-1);
    }
  }
  &-top {
    position: relative;
    &:before {
      background: $gradientBlack1;
      width: 100%;
      height: 460rem;
      max-height: 49%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: -3;
      @media (max-width: $md) {
        height: 120rem;
      }
    }
  }
  &-bottom {
    position: relative;
    &:after {
      background: $gradientBlack1;
      width: 100%;
      height: 460rem;
      max-height: 49%;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleY(-1);
      pointer-events: none;
      z-index: -3;
      @media (max-width: $md) {
        height: 120rem;
      }
    }
  }
}

.u-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
  z-index: -9;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.u-decor {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: -3;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.u-planet {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  &--theme {
    &-1 {
      background: $gradientPlanet1;
      width: 174rem;
      height: 174rem;
    }
  }
}

.u-content {
  line-height: $lineHeightDefault;
  word-wrap: break-word;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $accentColor;
    box-shadow: inset 0 -1px 0 transparent;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        box-shadow: inset 0 -1px 0 rgba($accentColor, .4);
      }
    }
  }
  h3 {
    margin: 1.2em 0 16rem;
    font-weight: bold;
    font-size: var(--fs-19);
    @media (max-width: $md) {
      margin-bottom: .5em;
    }
  }
  ol {
    margin: 0 0 0 24rem;
    li {
      &:not(:last-child) {
        margin-bottom: 10rem;
        @media (max-width: $md) {
          margin-bottom: .5em;
        }
      }
    }
  }
}

.u-nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    @media (max-width: $md) {
      flex-wrap: wrap;
    }
  }
  &__item {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    @media (max-width: $md) {
      max-width: 100%;
      margin: 0;
      flex-basis: 100%;
    }
    &:hover {
      .u-nav__link {
        @media (min-width: $md-mf) {
        }
        &:before {
          @media (min-width: $md-mf) {
            transform: scaleX(1);
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .u-nav__btn-submenu {
        @media (min-width: $md-mf) {
          transform: rotate(180deg);
        }
      }
    }
    &:not(:hover) {
      .u-nav__dropdown {
        @media (min-width: $md-mf) {
          transform: translateY(10rem);
          opacity: 0;
          pointer-events: none;
          visibility: hidden;
        }
      }
      .u-nav__btn-submenu {
        @media (min-width: $md-mf) {
        }
      }
    }
  }
  &__link {
    min-height: var(--ui-height-sm);
    padding: 10rem 14rem;
    display: flex;
    align-items: center;
    border-radius: $radiusSm;
    position: relative;
    transition: $transition;
    overflow: hidden;
    @media (max-width: $md) {
      min-height: 38rem;
      margin: 0 var(--gap-container-);
      padding: 4rem var(--gap-container);
    }
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
      }
    }
    &:before {
      background: $gradientAccent1;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      transition: $transition;
      transform: scaleX(0);
      transform-origin: left center;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
  &__btn-submenu + &__link {
    padding-right: 39rem;
  }
  &__btn-submenu {
    @extend %btn-reset;
    margin-top: -11rem;
    position: absolute;
    top: 50%;
    right: 10rem;
    transition: $transition;
    z-index: 1;
    @media (min-width: $lg-mf) {
      pointer-events: none;
    }
    &:hover {
      @media (min-width: $lg-mf) {
      }
    }
    @media (max-width: $md) {
      margin-top: 0;
      top: 7rem;
      right: 0;
    }
    &:not(.is-active) ~ .u-nav__dropdown {
      @media (max-width: $md) {
        display: none;
      }
    }
    &.is-active {
      @media (max-width: $md) {
        transform: rotate(180deg);
      }
    }
    .u-icon {
      width: 24rem;
      height: 24rem;
    }
  }
  &__dropdown {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $whiteColor;
    border-radius: $radiusSm;
    @media (min-width: $md-mf) {
      max-width: 290rem;
      min-width: 180rem;
      padding: 12rem 0 0;
      position: absolute;
      top: 100%;
      left: 0;
      transition: $transition;
      transition-property: transform, visibility, opacity;
      z-index: 1;
    }
    &:before {
      background: $gradientAccent2;
      content: '';
      position: absolute;
      top: 12rem;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      box-shadow: 0 8px 12px 4px rgba($blackColor, .8);
      z-index: -1;
      @media (max-width: $md) {
        top: 0;
        right: var(--gap-container-);
        left: var(--gap-container-);
      }
    }
    &-item {
      margin: 0;
      padding: 0;
      &:first-child {
        .u-nav__dropdown-link {
          padding-top: 10rem;
          @media (min-width: $md-mf) {
            padding-top: 14rem;
          }
        }
      }
      &:last-child {
        .u-nav__dropdown-link {
          padding-bottom: 10rem;
          @media (min-width: $md-mf) {
            padding-bottom: 14rem;
          }
        }
      }
    }
    &-link {
      display: block;
      padding: 3rem 14rem;
      transition: $transition;
      @media (max-width: $md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
      &:hover {
        text-decoration: none;
        @media (min-width: $lg-mf) {
          opacity: .7;
        }
      }
    }
  }
}

.u-box {
  position: relative;
  z-index: 0;
  &:before,
  &:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $radiusSemi;
    transition: $transition;
    @media (max-width: $md) {
      border-radius: $radiusMd;
    }
  }
  &:before {
    background: rgba($whiteColor, .1);
    z-index: -2;
  }
  &:after {
    background: $gradientAccent1;
    z-index: -1;
    @media (max-width: $lg) {
      display: none !important;
    }
  }
  &:not(:hover) {
    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }
  &:hover {
    &:before {
      @media (min-width: $lg-mf) {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:after {
      @media (min-width: $lg-mf) {
        opacity: .5;
        visibility: visible;
      }
    }
  }
}

.u-title {
  font-weight: bold;
  line-height: $lineHeight5;
  > span {
    font-weight: 300;
  }
}

.u-section-title {
  font-weight: 300;
  line-height: $lineHeight5;
  strong,
  b {
    font-weight: bold;
  }
}

.list-circle {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: var(--fs-6);
  line-height: $lineHeight7;
  list-style-type: none;
  @media (max-width: $md) {
  }
  li {
    min-height: 80rem;
    margin: 0;
    padding: 12rem 0 10rem 120rem;
    position: relative;
    @media (max-width: $md) {
      min-height: 0;
      padding: 0 0 0 38rem;
    }
    &:not(:last-child) {
      margin-bottom: 60rem;
      @media (max-width: $md) {
        margin-bottom: 15rem;
      }
    }
    &:before {
      background: url('data:image/svg+xml,%3Csvg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.8812 8.83048L13.1698 21.1295C12.8506 21.4644 12.4671 21.7313 12.0423 21.9144C11.6175 22.0975 11.1602 22.193 10.6976 22.1951H10.6824C10.2224 22.1953 9.76706 22.1029 9.34344 21.9237C8.91981 21.7444 8.53652 21.4819 8.21633 21.1516L2.00172 14.7505C1.68062 14.4282 1.42673 14.0453 1.25479 13.6241C1.08285 13.2029 0.996289 12.7517 1.00012 12.2967C1.00395 11.8418 1.09811 11.3921 1.27712 10.9739C1.45613 10.5556 1.71643 10.177 2.04292 9.86019C2.36941 9.54332 2.75558 9.29446 3.17902 9.12805C3.60245 8.96163 4.05473 8.88097 4.50959 8.89075C4.96445 8.90053 5.41284 9.00056 5.82873 9.18502C6.24463 9.36949 6.61974 9.63472 6.93231 9.96532L10.658 13.8029L19.905 4.09245C20.2147 3.7603 20.5873 3.49287 21.0011 3.30561C21.4148 3.11835 21.8616 3.015 22.3156 3.00151C22.7696 2.98803 23.2217 3.06469 23.6459 3.22706C24.07 3.38943 24.4578 3.63429 24.7867 3.94747C25.1157 4.26065 25.3792 4.63594 25.5622 5.05163C25.7452 5.46733 25.8439 5.91517 25.8527 6.36926C25.8615 6.82335 25.7801 7.27468 25.6134 7.69714C25.4467 8.1196 25.1978 8.5048 24.8812 8.83048Z" fill="white"/%3E%3C/svg%3E%0A') 50% / 26rem auto $blueNeutralColor no-repeat;
      width: 80rem;
      height: 80rem;
      content: '';
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      @media (max-width: $md) {
        width: 24rem;
        height: 24rem;
        background-size: 50%;
      }
    }
  }
}

.sc-block {
  &__list {
    margin: 0 -3rem;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  &__item {
    margin: 0 3rem;
    padding: 0;
  }
  &__link {
    width: 44rem;
    height: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    border: 1px solid rgba($whiteColor, .15);
    border-radius: 50%;
    transition: $transition;
    position: relative;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        background: $whiteColor;
        color: $bgSite;
      }
    }
    .u-icon {
      width: 24rem;
      height: 24rem;
      display: block;
    }
  }
}

.swiper-button {
  @extend %btn-reset;
  background: rgba($whiteColor, .5);
  width: 48rem;
  height: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blackColor;
  border-radius: 50%;
  box-shadow: 0 5px 26px rgba($blackColor, .15);
  cursor: pointer;
  transition: $transition;
  @media (max-width: $md) {
    width: 32rem;
    height: 32rem;
  }
  &:hover {
    text-decoration: none;
    @media (min-width: $lg-mf) {
      background: rgba($whiteColor, .8);
    }
  }
  &-prev {
  }
  &-next {
  }
  &-next &__icon {
    transform: scaleX(-1);
  }
  &__icon {
    width: 32rem;
    height: 32rem;
    @media (max-width: $md) {
      width: 24rem;
      height: 24rem;
    }
  }
}

.file-attach {
  display: flex;
  align-items: center;
  font-size: 92%;
  @media (max-width: $md) {
    font-size: 120%;
  }
  &__icon {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    flex: 0 0 1em;
    font-size: inherit;
    opacity: .5;
    .u-icon {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__name {
    margin-right: .5em;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__btn-remove {
    @extend %btn-reset;
    width: 1em;
    height: 1em;
    flex: 0 0 1em;
    font-size: inherit;
    color: $redColor;
    opacity: .5;
    cursor: pointer;
    transition: $transition;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
        opacity: .8;
      }
    }
    .u-icon {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.file-upload {
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    &:hover {
      @media (min-width: $lg-mf) {
        opacity: .8;
      }
    }
    &-content {
    }
    &-title {
      margin: 0 0 5rem;
      display: block;
      font-weight: bold;
      font-size: var(--fs-9);
      line-height: 1.1;
    }
    &-desc {
      margin: 0;
      display: block;
      font-size: var(--fs-13);
      line-height: $lineHeight3;
      color: rgba($whiteColor, .8);
    }
  }
  &__input {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  &__icon {
    background: $blueNeutralColor;
    width: 72rem;
    height: 72rem;
    margin-right: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    border-radius: 50%;
    flex-shrink: 0;
    .u-icon {
      width: 24rem;
      height: 24rem;
      display: block;
    }
  }
  &__list {
    &-card {
      padding: 5rem 0;
      border-top: 1px solid rgba($whiteColor, .08);
      &:first-child {
        margin-top: 10rem;
      }
      &:last-child {
        margin-bottom: 10rem;
      }
    }
  }
}

.about-card {
  &__inner {
    background: rgba($whiteColor, .08);
    height: 100%;
    padding: 56rem;
    border-radius: $radiusXl;
    border: 1px solid rgba($whiteColor, .2);
    @media (max-width: $md) {
      padding: 32rem;
      border-radius: $radiusSemi;
    }
  }
  &__header {
    padding: 0 0 46rem;
    margin: 0 0 44rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $greyColor;
    @media (max-width: $md) {
      margin-bottom: 25rem;
      padding-bottom: 25rem;
    }
  }
  &__title {
    background: $gradientAccent1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 10rem 0 0;
    font-weight: bold;
    font-size: var(--fs-15);
    line-height: .8;
    text-fill-color: transparent;
  }
  &__picture {
    background: $blueNeutralColor;
    width: 102rem;
    height: 102rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: $whiteColor;
    border-radius: 50%;
    @media (max-width: $md) {
      width: 58rem;
      height: 58rem;
    }
    img {
      width: 54rem;
      height: 54rem;
      display: block;
      object-fit: contain;
      @media (max-width: $md) {
        width: 30rem;
        height: 30rem;
      }
    }
  }
  &__content {
  }
  &__text {
    font-size: var(--fs-16);
    line-height: $lineHeight3;
  }
}

.how-we-work-card {
  padding: 48rem 34rem 84rem;
  position: relative;
  @media (max-width: $md) {
    padding: 20rem 16rem;
  }
  &:hover {
    @media (min-width: $lg-mf) {
    }
    .how-we-work-card__picture svg path {
      @media (min-width: $lg-mf) {
        fill: $whiteColor;
      }
    }
    .how-we-work-card__text {
      @media (min-width: $lg-mf) {
        color: $whiteColor;
      }
    }
    .how-we-work-card__content:before {
      @media (min-width: $lg-mf) {
        color: rgba($whiteColor, 1) !important;
      }
    }
  }
  &__picture {
    @extend %img-contain;
    width: 70rem;
    height: 70rem;
    margin: 0 0 24rem;
    @media (max-width: $md) {
      width: 32rem;
      height: 32rem;
      margin-bottom: 12rem;
    }
    img,
    svg {
    }
    svg {
      path {
        transition: $transition;
        transition-property: fill;
      }
    }
  }
  &.how-we-work__list-card {
    .how-we-work-card__content {
      &:before {
        content: counter(stepCounter, decimal-leading-zero);
        font-weight: bold;
        font-size: var(--fs-9);
        line-height: 1;
        color: rgba($whiteColor, .8);
        position: absolute;
        top: 20rem;
        right: 20rem;
        transition: $transition;
        transition-property: color;
        white-space: nowrap;
        @media (max-width: $md) {
          font-size: 11rem;
          top: 10rem;
          right: 10rem;
        }
      }
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 14rem;
    font-weight: bold;
    font-size: var(--fs-8);
    @media (max-width: $md) {
      margin-bottom: 8rem;
      font-size: 14rem;
    }
  }
  &__link {
    @extend %link-cover;
    &:hover {
      text-decoration: none;
      @media (min-width: $lg-mf) {
      }
    }
    @media (max-width: $md) {
    }
  }
  &__text {
    margin: 0 12rem 0 0;
    color: $greyMediumColor;
    transition: $transition;
    transition-property: color;
    @media (max-width: $md) {
      margin-right: 0;
    }
  }
}

.portfolio-card {
  position: relative;
  z-index: 0;
  &:hover {
    .portfolio-card__media {
      &:before {
        @media (min-width: $lg-mf) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .portfolio-card__media {
      &:after {
        @media (min-width: $lg-mf) {
          opacity: .5;
          visibility: visible;
        }
      }
    }
  }
  &__media {
    margin: 0 0 20rem;
    padding: 0 0 71.4285714286%;
    position: relative;
    @media (max-width: $md) {
      margin-bottom: 12rem;
    }
    &:before,
    &:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $radiusSemi;
      transition: $transition;
    }
    &:before {
      background: rgba($whiteColor, .1);
      z-index: -2;
    }
    &:after {
      background: $gradientAccent1;
      z-index: -1;
    }
    &:not(:hover) {
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &__picture {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    img {
      max-width: 80%;
      height: auto;
      max-height: 80%;
      display: block;
      @media (max-width: $md) {
        max-width: 74%;
        max-height: 74%;
      }
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 2rem;
    font-weight: bold;
    font-size: var(--fs-17);
    @media (max-width: $md) {
    }
  }
  &__link {
    @extend %link-cover;
    &:hover {
      text-decoration: none;
    }
  }
  &__text {
    margin: 0 60rem 0 0;
    font-size: var(--fs-13);
    line-height: $lineHeight4;
    color: rgba($whiteColor, .4);
    @media (max-width: $md) {
      margin-right: 0;
    }
  }
}

.u-word-accent {
  display: inline-block;
  position: relative;
  &:before {
    background: url(../images/word-accent.svg) 50% / contain no-repeat;
    width: 134.948879883%;
    padding-bottom: 29.6229248524%;
    margin: -6rem 0 0 -18rem;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @media (max-width: $md) {
      margin: 1rem 0 0 -8rem;
    }
  }
}

.benefits-card {
  &__inner {
    padding: 36rem;
    @media (max-width: $md) {
      padding: 30rem;
    }
  }
  &__header {
    margin: 0 0 20rem;
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      margin-bottom: 12rem;
    }
  }
  &__picture {
    @extend %img-contain;
    width: 60rem;
    height: 60rem;
    margin: 0 24rem 0 0;
    flex-shrink: 0;
    pointer-events: none;
    user-select: none;
    @media (max-width: $md) {
      width: 44rem;
      height: 44rem;
      margin-right: 12rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin: 0;
    font-weight: bold;
    font-size: var(--fs-16);
    line-height: 1.29615384615;
    @media (max-width: $md) {
      font-size: 18rem;
      line-height: 1.2;
    }
  }
  &__content {
  }
  &__text {
    font-weight: 500;
    font-size: var(--fs-12);
    line-height: $lineHeight1;
    color: rgba($whiteColor, .8);
    @media (max-width: $md) {
      font-size: 14rem;
    }
  }
}

.faq-card {
  --faq-card-offset: 120rem;
  transition: $transition;
  transition-property: background, color;
  @media (max-width: $md) {
    --faq-card-offset: 50rem;
  }
  &.is-show {
    .faq-card__counter {
      background: $gradientAccent1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .faq-card__title {
      background-size: 100% 100%;
    }
    .faq-card__icon {
      transform: rotate(180deg);
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &:not(.is-show) {
    .faq-card__header {
      &:hover {
        @media (min-width: $lg-mf) {
          opacity: .6;
        }
      }
    }
  }
  &__header {
    padding: 44rem 0;
    display: flex;
    align-items: center;  
    transition: $transition;
    transition-property: opacity;
    position: relative;
    @media (max-width: $md) {
      padding: 20rem var(--gap-container);
    }
  }
  &__btn {
    @extend %btn-reset, %link-cover;
    margin: 0 20rem 0 0;
    color: inherit;
    text-align: left;
    flex-grow: 1;
    cursor: pointer;
    &:before {
      z-index: 1;
    }
  }
  &__title {
    background-image: linear-gradient(0deg, $pinkLightColor 0, $pinkLightColor 9rem, rgba(255,229,123, 0) 0, rgba(255,229,123, 0));
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: left -4rem;
    hyphens: none;
    display: inline;
    font-weight: bold;
    font-size: var(--fs-7);
    transition: background-size .2s;
    position: relative;
    @media (max-width: $md) {
      background: none;
      font-size: 18rem;
    }
  }
  &__counter {
    max-width: var(--faq-card-offset);
    flex: 0 0 var(--faq-card-offset);
    font-weight: 900;
    font-size: var(--fs-18);
    line-height: .8;
    color: transparent;
    -webkit-text-stroke: 1px $pinkColor;
    text-shadow: 0 0 60px rgba($pinkColor, .2);
    white-space: nowrap;
    @media (max-width: $md) {
      font-size: var(--fs-2);
    }
    &:after {
      content: counter(faqCounter, decimal-leading-zero);
    }
  }
  &__icon {
    width: 34rem;
    height: 34rem;
    margin-left: auto;
    flex-shrink: 0;
    transition: $transition;
    transition-property: transform;
    position: relative;
    @media (max-width: $md) {
    }
    &:before,
    &:after {
      background: $accentColor;
      content: '';
      position: absolute;
      transition: $transition;
    }
    &:before {
      width: 100%;
      height: 2px;
      margin-top: -1px;
      top: 50%;
      left: 0;
      @media (max-width: $md) {
        height: 1px;
      }
    }
    &:after {
      width: 2px;
      height: 100%;
      margin-left: -1px;
      top: 0;
      left: 50%;
      @media (max-width: $md) {
        width: 1px;
      }
    }
  }
  &__dropdown {
    height: 0;
    transition: $transition;
    overflow: hidden;
    @media (max-width: $md) {
      padding: 0 var(--gap-container);
    }
  }
  &__inner {
    @media (max-width: $sm) {
    }
  }
  &__text {
    padding: 0 0 60rem var(--faq-card-offset);
    font-size: var(--fs-10);
    line-height: $lineHeight4;
    color: rgba($whiteColor, .8);
    @media (max-width: $sm) {
      padding: 0 0 var(--gap-container);
      font-size: 14rem;
    }
  }
}

.reviews-card {
  padding: 24rem;
  font-size: 15.53rem;
  @media (max-width: $md) {
    padding: 12rem;
  }
  &__header {
    margin: 0 0 18rem;
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      margin-bottom: 8rem;
    }
  }
  &__picture {
    @extend %img-cover;
    width: 54rem;
    height: 54rem;
    margin-right: 12rem;
    border-radius: 50%;
    flex-shrink: 0;
    @media (max-width: $md) {
      width: 44rem;
      height: 44rem;
      margin-right: 8rem;
    }
  }
  &__info {
  }
  &__name {
    margin: 0;
    @media (max-width: $md) {
      margin-bottom: -2rem;
      font-size: 16rem;
    }
  }
  &__date {
    margin: 0;
    font-size: 11.64rem;
    color: rgba($whiteColor, .8);
    @media (max-width: $md) {
      font-size: 10rem;
    }
  }
  &__content {
  }
  &__text {
    line-height: $lineHeight4;
    @media (max-width: $md) {
      font-size: 12rem;
    }
  }
}

.advantages-card {
  padding: 34rem;
  @media (max-width: $md) {
    padding: 32rem 24rem;
  }
  &__inner {
  }
  &__header {
  }
  &__picture {
    @extend %img-contain;
    width: 116rem;
    height: 116rem;
    margin: 0 0 32rem auto;
    @media (max-width: $md) {
      width: 90rem;
      height: 90rem;
      margin: -8rem 0 16rem auto;
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 22rem;
    font-weight: bold;
    font-size: var(--fs-8);
    line-height: $lineHeight2;
    @media (max-width: $md) {
      margin-bottom: 20rem;
      font-size: 24rem;
    }
  }
  &__text {
    margin: 0 12rem 0 0;
    line-height: $lineHeight4;
    color: rgba($whiteColor, .8);
    @media (max-width: $md) {
      margin-right: 0;
      font-size: 16rem;
    }
  }
}

.services-radio {
  user-select: none;
  position: relative;
  cursor: pointer;
  &.is-active {
    .services-radio__inner {
      border-color: transparent;
      &:before {
        background: currentColor;
        color: $whiteColor;
      }
    }
    .services-radio__description {
      color: rgba($whiteColor, 1);
    }
  }
  &:not(.is-active) {
    .services-radio__inner {
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &:hover {
    @media (min-width: $lg-mf) {
      .services-radio__inner {
        border-color: transparent;
        &:before {
          background: currentColor;
          color: $whiteColor;
        }
      }
      .services-radio__description {
        color: rgba($whiteColor, 1);
      }
      .services-radio__inner {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__inner {
    height: 100%;
    padding: 20rem;
    display: flex;
    align-items: flex-start;
    border: 1px solid $greyNormalColor;
    border-radius: $radiusSemi;
    transition: $transition;
    transition-property: border-color;
    @media (max-width: $md) {
      padding: 16rem;
      border-radius: 10rem;
    }
    &:before {
      width: 20rem;
      height: 20rem;
      margin: 2rem 14rem 0 0;
      content: '';
      flex: 0 0 20rem;
      color: $greyNeutralColor;
      border: 1px solid currentColor;
      border-radius: 50%;
      transition: $transition;
      @media (max-width: $md) {
        width: 12rem;
        height: 12rem;
        margin: 3rem 8rem 0 0;
        flex-basis: 12rem;
      }
    }
    &:after {
      background: $gradientAccent1;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      transition: $transition;
      pointer-events: none;
      z-index: -2;
    }
  }
  &__content {
  }
  &__title {
    margin: 0 0 5rem;
    font-weight: bold;
    font-size: var(--fs-10);
    @media (max-width: $md) {
      margin-bottom: 2rem;
      font-size: 16rem;
    }
  }
  &__description {
    margin: 0;
    font-weight: 500;
    font-size: var(--fs-20);
    color: rgba($whiteColor, .6);
    @media (max-width: $md) {
      font-size: 10rem;
    }
  }
}

.work-scheme-card {
  padding: 74rem;
  @media (max-width: $md) {
    padding: 24rem 16rem;
  }
  &__header {
    margin: 0 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__counter {
    margin: 0;
    font-weight: bold;
    font-size: var(--fs-19);
    white-space: nowrap;
    @media (max-width: $md) {
    }
    &:after {
      content: counter(workSchemeCounter, decimal-leading-zero);
    }
  }
  &__picture {
    background: $blueNeutralColor;
    width: 112rem;
    height: 112rem;
    margin: -36rem -36rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba($blueNeutralColor, .6);
    user-select: none;
    @media (max-width: $md) {
      width: 44rem;
      height: 44rem;
      margin: -12rem -12rem 0 0;
    }
    img {
      width: 54rem;
      height: 54rem;
      object-fit: contain;
      @media (max-width: $md) {
        width: 22rem;
        height: 22rem;
      }
    }
  }
  &__content {
  }
  &__text {
    color: rgba($whiteColor, .6);
    @media (max-width: $md) {
    }
    h3 {
      color: rgba($whiteColor, 1);
    }
  }
}

.thanks-message {
  &__title {
    margin: 0 0 10rem;
    font-weight: bold;
    font-size: 42rem;
    text-align: center;
    @media (max-width: $md) {
      margin-bottom: 5rem;
      font-size: 32rem;
    }
  }
  &__description {
    max-width: 340rem;
    margin: 0 auto 40rem;
    font-size: 18rem;
    line-height: 1.55;
    text-align: center;
    letter-spacing: -.01em;
    @media (max-width: $md) {
      max-width: 100%;
      margin-bottom: 25rem;
      font-size: 16rem;
    }
  }
  &__icon {
    width: 204rem;
    height: 204rem;
    margin: 0 auto;
    display: block;
    @media (max-width: $md) {
      width: 140rem;
      height: 140rem;
    }
  }
}

.web-card {
  display: flex;
  justify-content: center;
  &__img,
  picture {
    border-radius: $radiusMd;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

.astronaut-bg {
  width: 100%;
  position: absolute;
  bottom: 340rem;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: -8;
  img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: -4;
  }
  &:before {
    margin-top: -1px;
    top: 100%;
  }
}

.u-radio {
  display: block;
  font-size: var(--fs-13);
  cursor: pointer;
  position: relative;
  @media (max-width: $md) {
    font-size: 14rem;
  }
  &:hover {
    @media (min-width: $lg-mf) {
      .u-radio__inner:after {
        opacity: .4 !important;
        visibility: visible !important;
      }
    }
  }
  &__control {
    display: none;
  }
  &__control:not(:checked) ~ &__inner {
    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__control:checked ~ &__inner {
    &:before {
      background: $whiteColor;
    }
  }
  &__inner {
    min-height: var(--ui-height-sm);
    padding: 10rem 16rem;
    display: flex;
    align-items: center;
    border: 1px solid #3D58FC;
    border-radius: $radiusSm;
    @media (max-width: $md) {
      padding: 6rem 12rem;
      min-height: 38rem;
    }
    &:before {
      background: #797979;
      width: 20rem;
      height: 20rem;
      content: '';
      margin-right: 16rem;
      border-radius: 50%;
      flex-shrink: 0;
      transition: $transition;
      @media (max-width: $md) {
        width: 12rem;
        height: 12rem;
        margin-right: 8rem;
      }
    }
    &:after {
      background: $gradientAccent1;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      transition: $transition;
      z-index: -1;
    }
  }
  &__title {
    display: block;
  }
}

.calculation-form {
  &__item {
    margin-bottom: 75rem;
    @media (max-width: $md) {
      margin-bottom: calc(2 * var(--gap-container));
    }
    &-list {
    }
  }
  &__title {
    margin: 0 0 25rem;
    font-weight: 600;
    font-size: var(--fs-7);
    @media (max-width: $md) {
      margin-bottom: 10rem;
      font-size: 20rem;
    }
  }
  &__radio {
    flex: 1;
    &-list {
      gap: var(--gap);
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $md) {
        flex-direction: column;
      }
    }
  }
  &__price {
    min-width: 412rem;
    @media (max-width: $md) {
      min-width: 0;
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      gap: var(--gap);
      flex-wrap: wrap;
      text-align: center;
      @media (max-width: $md) {
        margin: 0 var(--gap-container-);
        gap: calc(2 * var(--gap-container));
        flex-direction: column;
      }
    }
    &-count {
      backdrop-filter: blur(4px);
      min-height: var(--ui-height-sm);
      padding: 4rem 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: var(--fs-9);
      line-height: 1;
      border: 1px solid #3D58FC;
      border-radius: $radiusSm;
      white-space: nowrap;
      @media (max-width: $md) {
        min-height: 38rem;
        padding: 6rem var(--gap-container);
        border-radius: 0;
        font-size: 22rem;
        border-width: 1px 0;
      }
      p {
        background: $gradientAccent1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0;
        text-fill-color: transparent;
        span {
        }
      }
    }
  }
  &__footer {
    margin: 100rem 0 0;
    display: flex;
    justify-content: center;
    @media (max-width: $md) {
      margin-top: calc(2 * var(--gap-container));
    }
  }
  &__btn {
  }
}