$siteResolution: 1px;
$mainFont: 'Gilroy';
$mainWeight: 400;
$lineHeight1: 1.6;
$lineHeight2: 1.16;
$lineHeight3: 1.3846;
$lineHeight4: 1.5;
$lineHeight5: 1.25;
$lineHeight6: 1.35714285714;
$lineHeight7: 1.2;
$lineHeightDefault: $lineHeight1;

$containerWidthMd: 1500rem;

$gap: 30rem;
$gapFluid: 60rem;

$radiusSm: 5rem;
$radiusMd: 12rem;
$radiusSemi: 22rem;
$radiusXl: 40rem;

$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #E4E4E4;
$greyMediumColor: #A4A4A4;
$greyLightColor: #E9E9E9;
$greyNeutralColor: #E2E2E2;
$greyNormalColor: #ECECEC;
$blueColor: #2D5DFF;
$blueNeutralColor: #3A59FC;
$purpleColor: #F51AD6;
$pinkColor: #D425DD;
$pinkLightColor: #DD5CE5;
$redColor: #F02121;
$accentColor: $blueColor;

$gradientAccent1: linear-gradient(130deg, $accentColor -2%, $purpleColor 118%);
$gradientAccent2: linear-gradient(180deg, $accentColor -2%, $purpleColor 118%);
$gradientBlack1: linear-gradient(180deg, $blackColor 0%, rgba($blackColor, 0) 100%);
$gradientBlack2: linear-gradient(0deg, $blackColor 1%, rgba($blackColor, 0) 100%);
$gradientPlanet1: radial-gradient(87% 87% at 85.39% 0%, $blackColor 0%, #160815 56.73%, #460D13 84.09%, #9C4F2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

$boxShadowWhite1: 0 0 60px rgba($whiteColor, .5);

$bgSite: $blackColor;

$fontFamily: $mainFont, Open Sans, sans-serif, Arial;
$fontColor: $whiteColor;
$fontWeight: $mainWeight;

$transition: all .4s 0ms;

$xl: 1340px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 20rem;
  --fs-1: 140rem;
  --fs-2: 100rem;
  --fs-3: 82rem;
  --fs-4: 80rem;
  --fs-5: 70rem;
  --fs-6: 48rem;
  --fs-7: 32rem;
  --fs-8: 30rem;
  --fs-9: 24rem;
  --fs-10: 22rem;
  --fs-11: 20rem;
  --fs-12: 18rem;
  --fs-13: 16rem;
  --fs-14: 14rem;
  --fs-15: 118rem;
  --fs-16: 26rem;
  --fs-17: 28rem;
  --fs-18: 56rem;
  --fs-19: 34rem;
  --fs-20: 13.5rem;

  --gap: 30rem;
  --gap-: -30rem;
  --gap-fluid: 60rem;
  --gap-fluid-: -60rem;
  --gap-container: var(--gap);
  --gap-container-: var(--gap-);

  --section-y: 50rem;
  --section-y-: -50rem;

  --scroll-offset: 84rem;

  --header-height: var(--scroll-offset);
  --header-gap: 38rem;

  --vh: 1vh;

  --title-y-md: 24rem;
  --title-y-md-: -24rem;
  @media (max-width: $md) {
    --fs-default: 10rem;
    --fs-1: 36rem;
    --fs-2: 32rem;
    --fs-3: 32rem;
    --fs-4: 32rem;
    --fs-5: 24rem;
    --fs-6: 18rem;
    --fs-8: 12rem;
    --fs-13: 16rem;
    --fs-15: 65.81rem;
    --fs-16: 14.5rem;
    --fs-17: 24rem;
    --fs-19: 16rem;

    --gap: 8rem;
    --gap-: -8rem;
    --gap-fluid: 16rem;
    --gap-fluid-: -16rem;
    --gap-container: var(--gap-fluid);
    --gap-container-: var(--gap-fluid-);

    --scroll-offset: 62rem;

    --section-y: 36rem;
  }
}